@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.tailwind-popup{
  font-size:16px!important;
}

.custom-translate-x-full {
  --tw-translate-x: -100% !important;
}

.removeMarginFromMain {
  margin-left: unset !important;
}

.arrowRotate {
  transform: rotate(177deg);
}

.menu-active{
  background-color:#EDF1FF;
  color:#4C6FFF;
}

.menu-active div:first-child{
  border-color:#4C6FFF;
}

.max-h-90 as{
  max-height:90vh
}

.summit-menu{
  width:105px;
  margin-top:3px;
}

.summit-student-menu{
  width:135px;
}
.summit-menu:hover svg path {
 fill:#000;  
}

.summit-svg-summit-darkblue svg path{
  fill:#0054a6;
}

}
button.tailwind-popup-dark-gray-button{
  background-color:#7a7a7a!important;
}