@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
.tailwind-popup{
  font-size:16px!important;
}

.custom-translate-x-full {
  --tw-translate-x: -100% !important;
}

.removeMarginFromMain {
  margin-left: unset !important;
}

.arrowRotate {
  transform: rotate(177deg);
}

.asideRotate img{
  transform: rotate(180deg);
}

.menu-active{
  background-color:#EDF1FF;
  color:#4C6FFF;
}

.menu-active div:first-child{
  border-color:#4C6FFF;
}

.max-h-90 as{
  max-height:90vh
}

.summit-menu{
  width:105px;
  margin-top:3px;
}

.summit-student-menu{
  width:150px;
}

@media(min-width:1280px){
.summit-teacher-menu{
  width:110px;
}
}
@media(min-width:1536px){
.summit-teacher-menu{
  width:130px;
}
}


.summit-menu:hover svg path {
 fill:#000;  
}

.summit-svg-summit-darkblue svg path{
  fill:#0054a6;
}

}
button.tailwind-popup-dark-gray-button{
  background-color:#7a7a7a!important;
}
.teacher-report-main-margin{
  margin-left:-400px;
}

@media (min-width: 1536px){
.summit-table-2024{
  min-width: 800px;
}
}

.summit-table-2024{
  
}
.summit-table-2024 thead tr{
   background-color:#1c51e1;
   color:#fff;
   font-weight:bold;
}

.summit-table-2024 thead tr.bg-summit-blue-table-header{
  background-color:#879FFD;
}

.summit-table-2024 thead th{
  text-align:center;
  padding: 0.5rem;
  border: 1px solid #dfe6fb;
}

.summit-table-2024 thead tr:first-child th:first-child{
  border-top-left-radius:0.75rem;
  border-left:none;
  border-top:none;
}

.summit-table-2024 thead tr:first-child th:last-child{
  border-top-right-radius:0.75rem;
  border-left:none;
  border-top:none;
}
.summit-table-2024 tbody tr:nth-child(even){
 background-color:#EDF1FF;
}
.summit-table-2024 tbody tr:nth-child(odd){
  background-color:#CDD7FF;
}
.summit-table-2024 tbody td{
  text-align:center;
  padding: 0.5rem;
  font-weight:700;
  border:1px solid #dfe6fb;
  white-space:nowrap;
  min-width:100px;
}

.summit-table-2024 tbody td.vb_red, .summit-table-2024 tbody td.vb_yellow,.summit-table-2024 tbody td.vb_green,.summit-table-2024 tbody td.vb_blue,.summit-table-2024 tbody td.vb_indigo,
.summit-table-2024 tbody td.vb_entering,.summit-table-2024 tbody td.vb_emerging,.summit-table-2024 tbody td.vb_developing,.summit-table-2024 tbody td.vb_expanding,
.summit-table-2024 tbody td.vb_bridging,.vb_reaching,.summit-table-2024 tbody td.vb_bridging,.summit-table-2024 tbody td.vb_pink{
  color:#fff;
}

.summit-table-2024 a>img{
  margin:auto;
}

.summit-table-2024.sticky-header-row thead tr:first-child{
  position:sticky;
  top:0px;
  z-index:20;
  border:#dfe6fb solid 1px;
}

.sticky-second-row{
  position:sticky;
  top:47px;
  z-index:20;
  border-color:#dfe6fb;
}

.summit-table-2024 .header, .summit-table-2024 .report-heading, .summit-table-2024 .sticky-blue-header{
  position:sticky;
  top:0px;
  z-index:20;
  border:#dfe6fb solid 1px;
}

.summit-table-2024 .sticky-blue-header.sub{
  top:38px;
}

.summit-table-2024 .sticky-left-cell,.summit-table-2024 .make-table-column-sticky{
  position:sticky;
  left:0px;
  z-index:30;
  background-color:inherit;
  border-color:#dfe6fb;
  min-width:200px;
  overflow:hidden;
}

.summit-table-2024 tr:nth-of-type(2) td.header, .summit-table-2024 tr:nth-of-type(2) td.report-heading{
  top:37px;
}
.summit-table-2024 tr:nth-of-type(3) td.header, .summit-table-2024 tr:nth-of-type(3) td.report-heading{
  top:74px;
}
.summit-table-2024 .sticky-left-cell:nth-of-type(2){
  left:200px;
}

.summit-table-2024 .sticky-left-cell.header,.summit-table-2024 .make-table-column-sticky.sticky-blue-header{
  z-index:32;
}

.summit-table-2024 td{
  position:relative;
}

.summit-table-2024 .item-delete{
  opacity: 0;
  background-color:rgba(0,0,0,0.6);
  position:absolute;
  width:100%;
  top:0;
  left:0;
  height:100%;
  padding-top:8px;
  transition: opacity 0s linear;
}

.summit-table-2024 .item-delete:hover{
  opacity: 100;
  transition-delay:1s;
}

/*.summit-table-2024 tbody td.first-child a{
  color:#1c51e1;
  font-weight:bold;
}*/
/*Table Colors*/
.vb_red{
	background-color: #B63C2F !important;
}

.vb_yellow{
	background-color: #E2C541 !important;
}
.vb_green{
	background-color: #4A7B31 !important;
}
.vb_blue{
	background-color: #185F9E !important;
}

.vb_indigo{
	background-color: #75197c !important;
}

.vb_entering{
	background-color: #D39D43 !important;
}

.vb_emerging{
	background-color: #DB7A45 !important;
}
.vb_developing{
	background-color: #C4C860 !important;
}
.vb_expanding{
	background-color: #81BB58 !important;
}
.b_bridging{
	background-color: #5AA576 !important;
}
.vb_reaching{
	background-color: #64B0C0 !important;
}
.vb_pink{
  background-color:#cc0199!important;
}

.vb_beginning,
.vb_beginning a {
  background-color: #a84536 !important;
  color: #fff !important;
}
.vb_intermediate,
.vb_intermediate a {
  background-color: #dec55a !important;
  color: #000 !important;
}
.vb_advanced,
.vb_advanced a {
  background-color: #335c95 !important;
  color: #fff !important;
}
.vb_advanced_high,
.vb_advanced_high a {
  background-color: #4a7b31 !important;
  color: #fff !important;
}

.vb_beginning_light {
  background-color: rgba(168, 69, 54, 0.5) !important;
}
.vb_intermediate_light {
  background-color: rgba(222, 197, 90, 0.5) !important;
}
.vb_advanced_light {
  background-color: rgba(37, 92, 154, 0.5) !important;
}
.vb_advanced_high_light {
  background-color: rgba(55, 126, 34, 0.5) !important;
}

/*Elpac*/

.elpac_red_ca{
	background-color: #A54335 !important;
}

.elpac_yellow_ca{
	background-color: #DEC55A !important;
}

.elpac_blue_ca{
	background-color: #2D5F99 !important;
}

.elpac_green_ca{
	background-color: #3C7E49 !important;
}
.elpi_light_green{
	background-color: #C5E0B4 !important;
}

.elpi_light_blue{
	background-color: #BDD7EE !important;
}

.elpi_light_yellow{
	background-color: #FFE699 !important;
}

.elpac_red_ca, .elpac_blue_ca,.elpac_green_ca {
	font-weight: bold;
	color: #ffff !important;
}

.elpac_red_ca a, .elpac_blue_ca,.elpac_green_ca a{
  color: #ffff !important;
}

.elpac_yellow_ca {
	font-weight: bold;
	color: black !important;
}

.elpac_yellow_ca a{
  color: black !important;
}
/*WIDA*/
.bg_zero {
  background-color: #d8d8d8 !important;
  color: #000 !important;
  font-weight: bold;
}

.bg_begining {
  background-color: #a54335 !important;
  color: #fff !important;
  font-weight: bold;
}

.bg_entering {
  background-color: #d49d40 !important;
  color: #000 !important;
  font-weight: bold;
}

.bg_emerging {
  background-color: #da7a46 !important;
  color: #000 !important;
  font-weight: bold;
}

.bg_developing {
  background-color: #d5da68 !important;
  color: #000 !important;
  font-weight: bold;
}

.bg_expanding {
  background-color: #7dcb57 !important;
  color: #000 !important;
  font-weight: bold;
}

.bg_bridging {
  background-color: #5ba475 !important;
  color: #000 !important;
  font-weight: bold;
}

.bg_reaching {
  background-color: #66afc0 !important;
  color: #000 !important;
  font-weight: bold;
}

.bg_zero a,
.bg_entering a,
.bg_emerging a,
.bg_developing a,
.bg_expanding a,
.bg_bridging a,
.bg_reaching a {
  color: #000 !important;
}

.bg_begining a {
  color: #fff !important;
}

/* guarantee-report */

.guarantee-report-green{
  background: #3C7E49 !important;
}
.guarantee-report-yellow{
  background: #DDC55A !important;
  color: black !important;
}

.bg_unmet {
  background-color: #A84536 !important;
  color: #fff !important;
}
.bg_approaches {
  background-color: #6B2478 !important;
  color: #fff !important;
}
.bg_meets {
  background-color: #335C95 !important;
  color: #fff !important;
}
.bg_masters {
  background-color: #4A7B31 !important;
  color: #fff !important;
}

.bg_unmet_light {
  background-color: rgba(168, 69, 54, 0.5) !important;
}
.bg_approaches_light {
  background-color: rgba(117, 25, 124, 0.5) !important;
}
.bg_meets_light {
  background-color: rgba(37, 92, 154, 0.5) !important;
}
.bg_masters_light {
  background-color: rgba(55, 126, 34, 0.5) !important;
}
.bg_unmet a,
.bg_approaches a,
.bg_meets a,
.bg_masters a {
  color: #fff !important;
}

.resume_mark img, .check_mark_width {
  width:35px;
}

.summit-table-2024 td.sticky-blue-header, .summit-table-2024 td.report-heading, .summit-table-2024 td.header{
  background-color:#1C51E1!important;
  color:#fff!important;
}
/*End of Table Colors*/

.half-circle-progress{
  position: relative;
  margin: 4px;
  float:left;
  text-align: center;
}
.barOverflow{ /* Wraps the rotating .bar */
  position: relative;
  overflow: hidden; /* Comment this line to understand the trick */
}
.half-circle-bar{
  position: absolute;
  top: 0; left: 0;
  border-radius: 50%;
  box-sizing: border-box;
  border-bottom-color: #1C51E1; 
  border-right-color: #1C51E1;
}

.button-filter-active{
  background-color:#1C51E1;
  color:#fff;
}
.resume_mark{
  background-color: #E2C541 !important;
  color: white !important;
  font-size: 25px !important;
}

.resume_mark img{
  width:35px;
}

.summit-table-2024 td.sticky-blue-header{
  background-color:#1C51E1!important;
  color:#fff!important;
}

.summit-table-2024 .text-left{
  text-align:left;
}

.sticky-blue-header img{
  width: fit-content;
  display:inline;
  height:1.75rem;
}

.plp-custom-translate-x-full {
  --tw-translate-x: -420px !important;
}

.plp-removeMarginFromMain {
  margin-left: unset !important;
}

.student-plp-main-margin{
  margin-left:-400px;
}

.teacher-dashboard-disabled{
  background-color:rgba(28, 81, 225, 0.1) !important;
  cursor:default;
}
.teacher-dashboard-disabled:hover{
  border:1px solid #cecece!important;
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

.summit-modal-active{
  border: 1px solid #1C51E1;
}

.modal-active-select{
  border: 1px solid #1C51E1;
}

.assign-selected{
  background-color:#cbe6ce;
}

.ml-\[260px\] {
  margin-left: 260px;
}
@media (min-width: 1536px) {
  .\32xl\:w-\[130px\] {
    width: 130px;
  }
}

.table-green-selected td{
  background-color: #CAE6CE;
}

.error-border{
  border-color:#f00;
}

.knowledge-link-text-stroke{
  -webkit-text-stroke: 1px #000;
}

