@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-translate-x-full {
  --tw-translate-x: -100% !important;
}

.removeMarginFromMain {
  margin-left: unset !important;
}

.arrowRotate {
  transform: rotate(177deg);
}

.menu-active{
  background-color:#EDF1FF;
  color:#4C6FFF;
}

.menu-active div:first-child{
  border-color:#4C6FFF;
}